h1 {
    font-size: 3vw;
    font-weight: 900;
    font-family: "SF Pro";
}
h2  {
    font-size: 3vw;
    font-weight: 900;
    font-family:"Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
}